.news {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.newsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  
  nav {
    ul {
      justify-content: center;
    }
  }
}
