.signup {
  box-sizing: border-box;
  padding: 20px;
}

.signupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;

  form {
    width: 100%;
    align-items: center;

    button {
      width: fit-content;
    }
  }

  a {
    color: #0288d1;
  }
}
